@font-face {
    font-family: goodLooking;
    src: url(./design/Overpass-VariableFont_wght.ttf);
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --secondary: hsl(213deg, 20%, 22%);
}

html {
    margin: 0;
    color: white;
}

button {
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'goodLooking';
}

a {
    color: hsl(228, 45%, 44%);
}

p {
    font-family: 'goodLooking';
    font-size: 15px;
    word-spacing: 1%;
    line-height: 1.6;
}

body {
    background-color: hsl(216, 12%, 8%);
}

.attribution {
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.ratings {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    width: 100%;
    justify-content: space-between;
}

.rating {
    background-color: var(--secondary);
    border: black 1px;
    border-radius: 100%;
    color: white;
    padding: 5% 6%;
    font-size: 15px;
}

.rating:hover {
    background-color: var(--LightGrey);
}


.rating-container {
    width: 30%;
    background-color: hsl(213, 19%, 18%);
    border-radius: 10%;
    background-image: linear-gradient(var(--DarkBlue), var(--VeryDarkBlue));
}

.rating-content {
    margin: 8%;
}

.star-icon {
    margin-bottom: 4%;
    padding: 4%;
    border: 1px solid var(--secondary);
    border-radius: 100%;
    background-color: var(--secondary)
}

.submit-button {
    margin: 1% 0%;
    width: 100%;
    padding: 4% 4%;
    background-color: var(--Orange);
    color: white;
    border: none;
    font-family: 'goodLooking';
    border-radius: 20px;
}